 <div class="box" style="display:flex;justify-content:center;font-family:'Noto Sans Display', sans-serif;">
      <h1>Project Vote Count</h1>
      <h4>

      Thanks for making this whole process nice and ok
      </h4>
  </div>