

<div class='box'>
<h1>Project Vote Count</h1>
  <h4 >
</h4>

</div>



<style>

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

  .box {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Display', sans-serif;
  }

</style>