<h1>New Subcriber#new_anticipation_notification</h1>


<p >
   New Anticipation Subcriber for  <%= @anticipation.body %>
</p>

<p>
    We have a  total of <%= @anticipation.count_user_followers%>
</p>